*
**

!GitSmart
!GitSmart/**
!example.config.ini
!README.md
!setup.py
!requirements.txt
!setup.sh
!assets/demo.gif
!assets/preview.webm
!test_*.py
!test_*.txt
!test_*.js
!test_*.md
!http_test*
**/__pycache__/**
**/.DS_Store
